absl-py==2.3.1
adjustText==1.3.0
altair==5.4.1
anyio==4.0.0
arch==8.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
black==26.1.0
bleach==6.1.0
blinker==1.9.0
branca==0.8.2
build==0.10.0
CacheControl==0.13.1
cachetools==5.5.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
check-jsonschema==0.27.0
cleo==2.0.1
click==8.1.7
colorama==0.4.6
colourmap==1.2.1
comm==0.1.4
contourpy==1.3.1
crashtest==0.4.1
cycler==0.12.1
datazets==1.1.3
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
docutils==0.22.3
dulwich==0.21.6
et_xmlfile==2.0.0
executing==2.0.0
fastjsonschema==2.18.1
filelock==3.12.4
flatbuffers==25.12.19
folium==0.20.0
fonttools==4.55.0
fqdn==1.5.1
gast==0.7.0
gensim==4.4.0
git-filter-repo==2.45.0
gitdb==4.0.10
GitPython==3.1.37
google-pasta==0.2.0
grpcio==1.76.0
h11==0.16.0
h5py==3.15.1
httpcore==1.0.9
httpx==0.28.1
id==1.5.0
idna==3.4
installer==0.7.0
ipykernel==6.25.2
ipython==8.16.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
isort==7.0.0
jaraco.classes==3.3.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.5.2
json5==0.9.14
jsonpickle==4.1.1
jsonpointer==2.4
jsonschema==4.26.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.2
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
jupytext==1.19.3
kaggle==2.2.1
kagglesdk==0.1.28
keras==3.13.0
keyring==24.2.0
kiwisolver==1.4.7
lark==1.3.1
lib==4.0.0
libclang==18.1.1
Markdown==3.10
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplot==0.1.9
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.6.1
mdurl==0.1.2
mistune==3.0.2
ml_dtypes==0.5.4
mmh3==5.2.1
more-itertools==10.1.0
msgpack==1.0.7
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.25.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.6.1
nh3==0.3.2
notebook==7.0.4
notebook_shim==0.2.3
numpy==1.26.0
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.18.0
overrides==7.4.0
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==1.0.4
patsy==1.0.2
pca==2.10.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.0.0
pkginfo==1.9.6
platformdirs==3.11.0
plotly==6.9.0
poetry==1.6.1
poetry-core==1.7.0
poetry-plugin-export==1.5.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==5.28.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==18.0.0
pycparser==2.21
pydeck==0.9.1
pydown==1.4
Pygments==2.16.1
pyloco==0.0.139
pyparsing==3.2.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.2.2
python-json-logger==2.0.7
python-slugify==8.0.4
pytokens==0.4.1
pytz==2023.3.post1
pyvis==0.3.2
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
rapidfuzz==2.15.2
readme_renderer==44.0
referencing==0.30.2
regress==0.4.2
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.9.4
rpds-py==0.30.0
ruamel.yaml==0.17.32
scatterd==1.4.1
scikit-learn==1.7.2
scipy==1.11.4
seaborn==0.13.2
Send2Trash==1.8.2
setuptools==68.2.2
shapely==2.1.2
shellingham==1.5.3
SimpleWebSocketServer==0.1.2
six==1.16.0
smart_open==7.5.1
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.3
statsmodels==0.14.5
streamlit==1.40.1
tenacity==9.0.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.3.0
terminado==0.17.1
text-unidecode==1.3
threadpoolctl==3.6.0
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.12.1
tornado==6.3.3
tqdm==4.68.1
traitlets==5.11.2
trove-classifiers==2023.9.19
twine==6.2.0
types-python-dateutil==2.8.19.14
typing==3.7.4.3
typing_extensions==4.12.2
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.6
ushlex==0.99.1
virtualenv==20.24.5
watchdog==6.0.0
wcwidth==0.2.8
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.1.4
wheel==0.45.1
widgetsnbextension==4.0.9
wrapt==2.0.1
xlrd==2.0.2
xyzservices==2026.3.0
